<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us | Auto Addiction Bendigo</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="about">
  <div id="header"></div>

	<div id="sticky-button">
			<a href="gallery">
				<span class="vertical-text">G</span>
				<span class="vertical-text">A</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">E</span>
				<span class="vertical-text">R</span>
				<span class="vertical-text">Y</span>
			</a>
		</div>

  <main>
    <h1>ABOUT AUTO ADDICTION BENDIGO</h1>
    <p>Auto Addiction bendigo has become the premier destination for auto accessories in regional Victoria, 
	catering to everything from cars, boats, and caravans to trucks, buses
	motorhomes, and even mobility scooters and excavators. If it has a motor, chances are Auto Addiction 
	Bendigo has something for it!</p>
	<br>
	<p>Established in Bendigo in 1995 as Bendigo Auto Sound, the business rebranded to Auto Addiction Bendigo 
	in 2001 under the stewardship of current owner, Damien Lacy. Since then,
	 it has grown exponentially, solidifying its reputation as the go-to one-stop shop for sales and service 
	 in the region.</p>
	<br>
	<p>What began with basic car audio installations and auto electrics has evolved into a comprehensive 
	offering that includes Opposite Lock franchises, providing customers with 
	access to a wider range of premium accessories for purchase and installation.</p>
	<br>
	<p>With over 50 years of combined experience, the team at Auto Addiction bendigo is a powerhouse of expertise 
	in auto electrics and accessories. Their passion, professionalism, 
	and dedication shine through in every project, as they treat each vehicle as if it were their own and 
	each customer like a friend. Over the years, their commitment to quality and 
	service has earned them lasting relationships with Bendigo's major car dealerships.</p>
	<br>
	<p>To top it off, Auto Addiction Bendigo offers peace of mind to their customers. All electrical work is 
	backed by a lifetime warranty, while Opposite Lock accessories come with a 
	two-year nationwide warranty. Whether you're a local, or just passing through, the Opposite Lock and Car 
	Audio Masters Networks ensure that help is always nearby, no matter where 
	your journey takes you.</p>
	<br>
	<h1>Meet the Team</h1>
	<section>
		<div class="about-section">
			<div class="about-content">
				<img src="images/damien.jpg" alt="Damien Lacy">
				<div class="about-text">
				  <h1>Damien Lacy</h1>
				  <br>
				  <p>The captain at the helm of Auto Addiction, Damien is the embodiment of Aussie grit and good 
				  vibes. A devoted father of three and a whiz in all things auto electrics, he's a mate you can 
				  count on—always ready to lend a hand and share a laugh. Whether he's soaring through the clouds 
				  in his plane, rocking out to Ozzie classics on his boat, or camping under the stars, Damien lives 
				  life loud and unapologetically..</p>
				</div>
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<div class="about-text">
				  <h1>Kylie Lacy</h1>
				  <br>
				  <p>The glue that keeps the team ticking, Kylie is a powerhouse multitasker and the undisputed 
				  queen of “getting things done.” With a flair for fitness and a green thumb that thrives in the 
				  vegie patch, she's equally at home sweating it out at the gym or digging into the dirt. Her 
				  not-so-secret weapon? Unleashing her hilariously off-key vocals to keep the guys at work on 
				  their toes. Kylie’s hustle is unmatched, and her charm is pure class.</p>
				</div>
				<img src="images/kylie.jpg" alt="Kylie Lacy">
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<img src="images/benny.jpg" alt="Benjamin Grinham">
				<div class="about-text">
				  <h1>Benjamin Grinham</h1>
				  <br>
				  <p>Auto Addiction’s tech guru and resident sci-fi savant, Ben is the ultimate go-to guy for all 
				  things digital and futuristic. When he's not dazzling the team with his tech wizardry, you’ll 
				  find him bingeing the latest sci-fi series, chasing adrenaline on his motorbike, or scoring epic 
				  deals on eBay. With an encyclopedic knowledge of gadgets and a love for all things out-of-this-world, 
				  Ben’s expertise knows no bounds.</p>
				</div>
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<div class="about-text">
				  <h1>Matthew Sitters</h1>
				  <br>
				  <p>A master in re-building old Commodore engines and spinning tales that leave everyone grinning, 
				  Matty is Auto Addiction’s chatty and compassionate cornerstone. Whether he’s fishing from his trusty 
				  tinny, cracking jokes with the crew, or helping out with his trademark generosity, Matty’s wit and 
				  heart are as big as Australia itself. Family man, engine whisperer, and team morale booster—he’s got 
				  it all covered.</p>
				</div>
				<img src="images/matty.jpg" alt="Matthew Sitters">
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<img src="images/sam.jpg" alt="Samuel Hobbs">
				<div class="about-text">
					<h1>Samuel Hobbs</h1>
					<br>
					<p>This...this is Sam.</p>
				</div>
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<div class="about-text">
				  <h1>Jayden Sumner</h1>
				  <br>
				  <p>The tech-savvy dynamo of Auto Addiction, Jayden is a sales supervisor with a knack for 
				  blending technical expertise and customer insight. Whether he’s fine-tuning a deal or diving 
				  into the intricacies of electrical systems, he’s always ahead of the curve. Off the clock, 
				  Jayden’s passions take him to new heights—crafting custom cars, building cutting-edge computers, 
				  and capturing the universe’s wonders through his astrophotography lens. A visionary with a 
				  hands-on approach, Jayden is the spark that keeps innovation alive.</p>
				</div>
				<img src="images/jayden.jpg" alt="Jayden Sumner">
			</div>
		</div>
		
		<div class="about-section">
			<div class="about-content">
				<img src="images/eileen.jpg" alt="Eileen Bonnici">
				<div class="about-text">
				  <h1>Eileen Bonnici</h1>
				  <br>
				  <p>Eileen is Auto Addiction’s admin powerhouse—a conglomerate of organization and efficiency who 
				  turns chaos into calm with ease. Her adventurous spirit shines brightly outside of work, 
				  whether she's blazing through a go-kart course, cruising the waters on her boat, or spending 
				  quality time with her family. Vibrant, adventurous, and unshakably dependable, Eileen is the 
				  behind-the-scenes hero who makes Auto Addiction tick.</p>
				</div>
			</div>
		</div>
	</section>
	<br>
	<h1>Our Trusted Brands</h1>
	<section>
		<div class="about-brands">
			<h1>Audio & Headunits</h1>
			<div class="about-grid-row">
				<a href="https://www.alpine.com.au/"><img src="images/logos/audio/alpine.png"/></a>
				<a href="https://www.audiocontrol.com/"><img src="images/logos/audio/audioControl.png"/></a>
				<a href="https://audison.com/"><img src="images/logos/audio/audison.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://focalaustralia.com.au/"><img src="images/logos/audio/focal.png"/></a>
				<a href="https://www.kenwood.com/au/car/"><img src="images/logos/audio/kenwood.png"/></a>
				<a href="https://rockfordfosgate.com/"><img src="images/logos/audio/rockfordFosgate.png"/></a>
			</div>
		</div>
		<div class="about-brands">
			<h1>4WD</h1>
			<div class="about-grid-row">
				<a href="https://4wdinteriors.com/"><img src="images/logos/4wd/4wdInteriors.png"/></a>
				<a href="https://www.blackduck.com.au/"><img src="images/logos/4wd/blackDuck.png"/></a>
				<a href="https://www.clearviewaccessories.com.au/"><img src="images/logos/4wd/clearview.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.ecb.com.au/"><img src="images/logos/4wd/ecb.png"/></a>
				<a href="https://egrauto.com/"><img src="images/logos/4wd/EGR.png"/></a>
				<a href="https://enerdrive.com.au/"><img src="images/logos/4wd/enerdrive.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.frontrunneroutfitters.com/en/au/"><img src="images/logos/4wd/frontRunner.png"/></a>
				<a href="https://www.gme.net.au/au/"><img src="images/logos/4wd/gme.png"/></a>
				<a href="https://hsputelids.com/"><img src="images/logos/4wd/HSP.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.icom-australia.com/"><img src="images/logos/4wd/iCOM.png"/></a>
				<a href="https://www.lazerlamps.com.au/"><img src="images/logos/4wd/lazerLamps.png"/></a>
				<a href="https://au.lightforce.com/"><img src="images/logos/4wd/lightforce.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://msa4x4.com.au/"><img src="images/logos/4wd/msa.png"/></a>
				<a href="https://oppositelock.com.au/ol/"><img src="images/logos/4wd/oppositeLock.png"/></a>
				<a href="https://outbackaccessories.com.au/"><img src="images/logos/4wd/outbackAccessories.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.outbackarmour.com.au/"><img src="images/logos/4wd/outbackArmour.png"/></a>
				<a href="https://oxley4x4.com.au/"><img src="images/logos/4wd/oxley.png"/></a>
				<a href="https://raxar.com.au/"><img src="images/logos/4wd/raxar.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.rhinorack.com/en-au/"><img src="images/logos/4wd/rhinoRack.png"/></a>
				<a href=""><img src="images/logos/4wd/shuroo.png"/></a>
				<a href="https://www.toughdog.com.au/"><img src="images/logos/4wd/toughDog.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://tradesmanroofracks.com.au/"><img src="images/logos/4wd/tradesmanRoofRacks.png"/></a>
				<a href="https://ultra-vision.com.au/"><img src="images/logos/4wd/ultraVision.png"/></a>
				<a href="https://vrs4x4.com.au/"><img src="images/logos/4wd/vrs.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://international.warn.com/"><img src="images/logos/4wd/warn.png"/></a>
				<a href="https://www.yakima.com.au/"><img src="images/logos/4wd/yakima.png"/></a>
				<a href="https://airbagman.com.au/"><img src="images/logos/4wd/airbag.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.browndavis.com.au/"><img src="images/logos/4wd/brownDavis.png"/></a>
				<a href="https://www.milford.one/"><img src="images/logos/4wd/milford.png"/></a>
				<a href="https://www.safari4x4.com.au/"><img src="images/logos/4wd/safari.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://directionplus.com.au/"><img src="images/logos/4wd/directionPlus.png"/></a>
				<a href="https://haymanreese.com.au/"><img src="images/logos/4wd/haymanReese.png"/></a>
				<a href="https://www.redarcelectronics.com/au/"><img src="images/logos/4wd/redarc.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://roadsafe.com.au/"><img src="images/logos/4wd/roadSafe.png"/></a>
				<a href="https://torqit.com.au/"><img src="images/logos/4wd/torqit.png"/></a>
			</div>
		</div>
		<div class="about-brands">
			<h1>Camping</h1>
			<div class="about-grid-row">
				<a href="https://boaboffroad.com.au/"><img src="images/logos/camping/boab.png"/></a>
				<a href="https://darche.com.au/"><img src="images/logos/camping/darche.png"/></a>
				<a href="https://www.dometic.com/en/outdoor"><img src="images/logos/camping/dometic.png"/></a>
			</div>
		</div>
		<div class="about-brands">
			<h1>Safety & Security</h1>
			<div class="about-grid-row">
				<a href="https://www.codesafesolutions.com.au/"><img src="images/logos/security/codeSafe.png"/></a>
				<a href="https://www.iroadau.com.au/"><img src="images/logos/security/iroad.png"/></a>
				<a href="https://www.mongoose.com.au/"><img src="images/logos/security/mongoose.png"/></a>
			</div>
			<div class="about-grid-row">
				<a href="https://www.burgdesign.com.au/"><img src="images/logos/security/burg.png"/></a>
				<a href="https://www.commandauto.com.au/"><img src="images/logos/security/command.png"/></a>
				<a href="https://www.neltronics.com.au/"><img src="images/logos/security/neltronics.png"/></a>
			</div>
		</div>
	</section>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
  </main>

  <footer id="footer"></footer>
  
  <script src="/js/header.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/backToTop.js"></script>
</body>
</html>
