<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Gallery | Auto Addiction Bendigo</title>
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	</head>
	<body>
		<!-- site header -->
		<div id="header"></div>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		
		<h1 style="color:#2e96db; text-align: center; margin-top: 25px; font-size: 4rem;">GALLERY</h1>

		<section class="gallery-body" style="margin-top: 75px;">		
			<div class="galleryRow">
				<img src="images/ol/300Series.jpg" alt="300Series">
				<img src="images/ol/300Series2.jpg" alt="300Series" style="width:450px;">
			</div>		
		</section>
		
		<section class="gallery-body">
			<div class="galleryRow">
				<img src="images/ol/amarok.jpg" alt="Amarok" style="width:450px;">
				<img src="images/ol/300Series3.jpg" alt="300Series">
			</div>
		</section>
		
		<section class="gallery-body">		
			<div class="galleryRow">
				<img src="images/ol/BT50.jpg" alt="BT50">
				<img src="images/ol/BT502.jpg" alt="BT50" style="width:450px;">
			</div>		
		</section>
		
		<section class="gallery-body">
			<div class="galleryRow">
				<img src="images/ol/hilux.jpg" alt="Hilux"  style="width:450px;">
				<img src="images/ol/hilux2.jpg" alt="Hilux" >
			</div>
		</section>
		
		<section class="gallery-body">		
			<div class="galleryRow">
				<img src="images/ol/hilux3.jpg" alt="Hilux" >
				<img src="images/ol/hilux4.jpg" alt="Hilux"  style="width:450px;">
			</div>		
		</section>
		
		<section class="gallery-body">
			<div class="galleryRow">
				<img src="images/ol/MUX.jpg" alt="Mu-X"  style="width:450px;">
				<img src="images/ol/MUX2.jpg" alt="Mu-X" >
			</div>
		</section>
		
		<section class="gallery-body">		
			<div class="galleryRow">
				<img src="images/ol/Y62.jpg" alt="Y62" >
				<img src="images/ol/Y622.jpg" alt="Y62"  style="width:450px;">
			</div>		
		</section>
		
		<section class="gallery-body">
			<div class="galleryRow">
				<img src="images/ol/Y623.jpg" alt="Y62"  style="width:450px;">
				<img src="images/ol/MUX2.jpg" alt="Mu-X" >
			</div>
		</section>


		<!-- site footer -->
		<footer id="footer"></footer>

		<script src="/js/header.js"></script>
		<script src="/js/footer.js"></script>
		<script src="/js/backToTop.js"></script>
		
	</body>
</html>

