<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Security-Policy" content="
		  default-src 'self';
		  style-src 'self' https://cdnjs.cloudflare.com https://fonts.googleapis.com;
		  style-src-elem 'self' https://cdnjs.cloudflare.com https://fonts.googleapis.com;
		  script-src 'self' 'nonce-abc123';
		  frame-src 'self' https://www.google.com;
		">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	</head>
	<body>
		<!-- site header -->
		<div id="header"></div>

		<div id="sticky-button">
			<a href="gallery">
				<span class="vertical-text">G</span>
				<span class="vertical-text">A</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">E</span>
				<span class="vertical-text">R</span>
				<span class="vertical-text">Y</span>
			</a>
		</div>

		<main>
			<!-- Hero / Intro -->
			<section class="hero">
				<div class="hero-content">
					<h2>Y O U R</h2><h2>J O U R N E Y</h2>
					<h1>STARTS HERE</h1>
					<p>Making your car your way, with</p> 
					<p id="bitBigger"><span>Sound</span> . <span>Vision</span> . <span>Gear</span></p>
					<div class="hero-ctas">
						<a href="audio" class="btn btn-primary">Audio & Entertainment</a>
						<a href="4wd"   class="btn btn-secondary">4WD Accessories</a>
					</div>
				</div>
			</section>
			
			<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
			
		</main>
		
		<section class="cams-banner">
			<div class="cams-banner-content">
				<img src="images/camLogo.png"/>
				<p>Car Audio Masters are Australia’s network of specialist retailers dedicated to offering 
				the best products & service backed by a Nationwide Installation Guarantee!</p>
			</div>
		</section>
		
		<!-- <section class="background-video"> -->
			<!-- <video autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg"> -->
				<!-- <source src="videos/OppositeLock.mp4" type="video/mp4">  -->
			<!-- </video> -->
		<!-- </section> -->
		
		<section class="audio1-section">
		  <div class="audio1-section-content">
			<h1>START YOUR AUDIO JOURNEY</h1>
			<h2>________________________</h2>
			<br>
			<p>
			Premium car audio is always within reach. Just ask if it’s a trusted brand — and if not, 
			request the upgrade for the sound your drive deserves.
			</p>
			<!-- <p> -->
			  <!-- Your vehicle isn't just a mode of transportation—it's your personal concert hall, a rolling escape, and sometimes, your sanctuary. But if you're still rocking that factory sound system, you’re missing out on an entirely different level of audio experience. -->
			<!-- </p> -->
			<!-- <p> -->
			  <!-- Upgrading your car's sound system isn’t just about volume—it’s about precision, depth, and clarity. A well-tuned system brings out the rich bass, crisp vocals, and immersive soundstage that transforms every drive into something unforgettable. -->
			<!-- </p> -->
			<br>
			<div class="hero-ctas">
			  <a href="audio" class="btn btn-secondary">Explore</a>
			</div>
		  </div>
		</section>

		
		<section class="oppositelock-section-divider-1"></section>


		<section class="oppositelock-section">
		  <div class="oppositelock-section-content">
			<h1>YOUR ADVENTURE STARTS HERE</h1>
			<h2>________________________</h2>
			<br>
			<p>
			Opposite Lock delivers premium 4WD accessories and expert fitment to gear your vehicle for 
			any terrain. From bull bars to roof racks, we’ve got your off-road adventure covered.
			</p>
			<!-- <p> -->
			  <!-- Opposite Lock is your go-to destination for premium 4WD accessories and off-road solutions. From bull bars and suspension systems to recovery gear, roof racks, and electrical components, we provide everything you need to equip your vehicle for the toughest of terrains. -->
			<!-- </p> -->
			<!-- <p> -->
			  <!-- With expert fitment services and top-quality products, Opposite Lock ensures your 4WD is ready for any adventure. -->
			<!-- </p> -->
			<br>
			<div class="hero-ctas2">
			  <a href="4wd" class="btn btn-secondary">Explore</a>
			</div>
		  </div>
		</section>

		<section class="bapcor-banner">
			<div class="bapcor-banner-content">
				<p>BAPCOR is Australia’s leading network of automotive specialists, delivering top-tier 
				products and expert service — backed by trusted brands and nationwide support.</p>
				<img src="images/bapcorLogo.png"/>
			</div>
		</section>
		
		<section class="outback-section">
		  <!-- <div class="outback-section-content"> -->
			<!-- <h1>YOUR ADVENTURE STARTS HERE</h1> -->
			<!-- <h2>________________________</h2> -->
			<!-- <br> -->
			<!-- <p> -->
			<!-- Opposite Lock delivers premium 4WD accessories and expert fitment to gear your vehicle for  -->
			<!-- any terrain. From bull bars to roof racks, we’ve got your off-road adventure covered. -->
			<!-- </p> -->
			<!-- <p> -->
			  <!-- Opposite Lock is your go-to destination for premium 4WD accessories and off-road solutions. From bull bars and suspension systems to recovery gear, roof racks, and electrical components, we provide everything you need to equip your vehicle for the toughest of terrains. -->
			<!-- </p> -->
			<!-- <p> -->
			  <!-- With expert fitment services and top-quality products, Opposite Lock ensures your 4WD is ready for any adventure. -->
			<!-- </p> -->
			<!-- <br> -->
			<!-- <div class="hero-ctas2"> -->
			  <!-- <a href="4wd.html" class="btn btn-secondary">Explore</a> -->
			<!-- </div> -->
		  <!-- </div> -->
		</section>

		<!-- site footer -->
		<footer id="footer"></footer>
		
		<script src="/js/header.js" nonce="abc123"></script>
		<script src="/js/footer.js" nonce="abc123"></script>
		<script src="/js/backToTop.js" nonce="abc123"></script>
		
		
	</body>
</html>

