<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products | Auto Addiction Bendigo</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="products">
	<div id="header"></div>

	<div id="sticky-button">
			<a href="gallery.html">
				<span class="vertical-text">G</span>
				<span class="vertical-text">A</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">L</span>
				<span class="vertical-text">E</span>
				<span class="vertical-text">R</span>
				<span class="vertical-text">Y</span>
			</a>
		</div>

	<main>
		<div class="productsByCategory">
			<h1>SHOP BY CATEGORY</h1>
		</div>

		<section>
			<div class="products-category">
				<div class="products-grid-row">
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/protection.png"/>
							</div>
							<h2>4WD Protection</h2>
						</a>
					</div>
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/suspension.png" class="products-img"/>
							</div>
							<h2>4WD Suspension</h2>
						</a>
					</div>
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/touring.png"/>
							</div>
							<h2>Touring</h2>
						</a>
					</div>
				</div>
				<div class="products-grid-row">
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/focal2.png"/>
							</div>
							<h2>Audio & Headunits</h2>
						</a>
					</div>
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/security.png"/>
							</div>
							<h2>Security</h2>
						</a>
					</div>
					<div class="product-subsection">
						<a href="#">
							<div class="product-img-wrap">
								<img src="images/fridge.png"/>
							</div>
							<h2>Everything Else...</h2>
						</a>
					</div>
				</div>
			</div>
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	</main>

	<br>
	<footer id="footer"></footer>
  
	<script src="js/header.js"></script>
	<script src="js/footer.js"></script>
	<script src="js/backToTop.js"></script>
</body>
</html>
